@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.button-container {
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.button-container button {
    width: 25%;
    height: 7.5vh;
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;*/
    /*border: 1px solid #efefef;*/
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    background-color: #fff;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.15s;
}

.button-container button:hover {
    cursor: pointer;
}

.button-container .not-active-btn:hover {
    color: #5c86e3;
    cursor: pointer;
}

.button-container .active-button {
    border: 1px solid #5c86e3;
    background-color: #5c86e3;
    color: #fff;
}

.button-container .icon {
    margin-bottom: -0.35vh;
    font-size: 18px;
}

.button-border-right-none {
    border-right: none;
}

.button-border-right {
    border-right: 1px solid #efefef;
}