.file-input-container {
    margin-top: 1rem;
    width: 100%;
    height: 2.3rem;
}

.file-input-container span {
    display: inline-block;
    color: #000;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 2.5rem;
    width: 13rem;
    font-size: 0.8rem;
    border: 1px solid #eee;
    border-radius: 4px;
}

.file-input-container label {
    margin-left: 0.5rem;
    display: inline-block;
    line-height: 2.5rem;
    width: 5.5rem;
    text-align: center;
    border-radius: 4px;
    font-size: 0.8rem;
    background: #1ba466;
    color: #fff;
}
.file-input-container label:hover {
    background: #14794b;
    cursor: pointer;
}

input[type=file] {
    display: none;
}