@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.logo-img {
    width: 210px;
    margin-bottom: 20px;
    margin-left: -15px;
}

.login {
    height: 40px;
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 7px;
    color: #666;
    margin-left: -8px;
    transition: all 0.5s;
}

.login:hover {
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #333;
    transition: all 0.3s;
}

.text {
    margin-top: 11px;
    text-align: center;
}

.icons {
    margin-left: 18px;
    margin-bottom: -3px;
    color: #000;
    font-size: 18px;
}

.user-icons {
    margin-bottom: -3.5px;
    color: #000;
    font-size: 18px;
    margin-right: 5px;
}

.bar-icon {
    font-size: 30px;
    color: #555;
}

.page-name {
    margin-left: 10%;
    font-size: 20px;
    margin-top: -31px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}

.page-name-icon {
    color: #000;
    margin-bottom: -3px;
    font-size: 19px;
}

.top-tag {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: top;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;*/
    height: 70px;
}

.divider-line {
    border-bottom: 1px solid #888;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.main-heading {
    font-size: 32px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-left: 10%;
}

.subheading {
    font-size: 22px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    margin-bottom: 2vh;
}

.division {
    font-size: 19px;
    font-weight: bold;
    margin-top: 1.2vh;
}

.container {
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 75vh;
    /*max-height: 800px;*/
    border-radius: 5px;
    /*border: 1px solid #000;*/
}

.search-input-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.search-input-container input {
    border: none;
    height: 30px;
    border-radius: 5px;
    -moz-appearance: textfield;
    margin-left: 3%;
}

.search-input-container input::-webkit-outer-spin-button,
.search-input-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.search-input-container select {
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-appearance: none;
    background: #fff;
    height: 35px;
    border: none;
    width: 12%;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.search-input-container button {
    margin-left: 3%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #3f78f5;
    color: #fff;
    width: 15%;
}

.search-input-container button:hover {
    background: #2b68ee;
    cursor: pointer;
}

.search-input-container .number-input {
    width: 11%;
}

.search-input-container .name-search-input {
    width: 22%;
}

.searched-component {
    height: 65vh;
}

.searched-component .button-container {
    margin-top: 3vh;
}

.searched-component .button-container button {
    height: 35px;
}

.button-container .add-all-user-btn {
    text-align: center;
    width: 130px;
    float: left;
    border: none;
    border-radius: 4px;
    background-color: #4ba1d7;
    color: #fff;
    font-size: 15px;
}

.button-container .add-all-user-btn:hover {
    cursor: pointer;
    background-color: #3a7da8;
}

.double-check-icon {
    margin-bottom: -3.5px;
    font-size: 18px;
}

.button-container .exit-btn {
    float: right;
    text-align: center;
    width: 90px;
    border: none;
    border-radius: 4px;
    background-color: #d74b4b;
    color: #fff;
    font-size: 15px;
}

.button-container .exit-btn:hover {
    background-color: #ad2c2c;
    cursor: pointer;
}

.exit-btn-icon {
    margin-bottom: -3.5px;
    color: #fff;
    font-size: 18px;
}

.searched-component .icon {
    margin-bottom: -2px;
}

.searched-table-container {
    border-radius: 5px;
    margin-top: 25px;
    width: 100%;
    height: 60vh;
    overflow: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.searched-table {
    width: 97%;
    border-collapse: collapse;
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
}

.searched-table tr:nth-child(even) {
    background: #f1f1f1
}

.searched-table tr:nth-child(odd) {
    background: #fff
}

.searched-table th {
    background-color: #e0e0e0;
    /*border: 1px solid #ccc;*/
    border-top: none;
    text-align: center;
    color: #000;
    height: 30px;
    border-left: none;
}

.searched-table td {
    border: 1px solid #eee;
    text-align: center;
}

.recipient-table-container {
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.recipient-table-container table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.recipient-table-container table td {
    height: 30px;
    /*border: 1px solid #ccc;*/
    text-align: center;
}

/*.recipient-table-container table td:hover {*/
/*    background-color: #ccc;*/
/*}*/

.recipient-table-container table th {
    height: 40px;
    background-color: #6f7bd9;
    border-left: none;
    color: #fff;
}

.recipient-table-container tr:nth-child(even) {
    background: #f6f6f6
}

.recipient-table-container tr:nth-child(odd) {
    background: #fff
}

.add-user-container {
    width: 100%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid #ccc;*/
}

.management-table-container {
    margin-top: 2vh;
    font-family: 'IBM Plex Sans KR', sans-serif;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: all 0.2s;
}

.management-table-container table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.management-table-container th {
    height: 40px;
    font-size: 15px;
    background-color: #474747;
    color: #fff;
    font-weight: normal;
}

.management-table-container th input[type="checkbox"] {
    margin-top: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    height: 13px;
    width: 13px;
}

.management-table-container th input[type="checkbox"]::after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: '';
    display: none;
    height: 40%;
    left: 40%;
    position: relative;
    top: 20%;
    transform: rotate(45deg);
    width: 15%;
}

.management-table-container th input[type="checkbox"]:checked {
    background: #505bf0;
}

.management-table-container th input[type="checkbox"]:checked::after {
    display: block;
}

.management-table-container tr {
    height: 43px;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
}

.management-table-container .number-value {
    min-width: 30px;
}

.change-password-button-container {
    width: auto;
    margin-top: 15px;
    margin-right: 28px;
    float: right;
}

.change-password-button-container button {
    color: #fff;
    border: none;
    width: 26px;
    height: 22px;
    border-radius: 3px;
}

.change-password-button-container .close-button {
    background-color: #e33f3f;
}

.change-password-button-container .close-button:hover {
    background-color: #c73434;
    cursor: pointer;
}

.change-password-button-container .check-button {
    background-color: #1daf56;
    margin-left: 4px;
}

.change-password-button-container .check-button:hover {
    background-color: #169447;
    cursor: pointer;
}

.change-password-icon {
    color: #fff;
    margin-bottom: -1.5px;
}

.password-reset-btn {
    width: 65px;
    height: 25px;
    background-color: #fff;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
}

.password-reset-btn span {
    font-size: 13px;
    color: #267fbc;
}

.arrowUpButton {
    border-radius: 5rem;
    border: none;
    background-color: #e8f1f8;
    font-size: 20px;
    transition: all 0.2s;
}

.arrow-icon {
    margin-bottom: -2px;
}

.arrowUpButton:hover {
    cursor: pointer;
    background-color: #d5e0e7;
}

.date-picker-container {
    margin-left: 10%;
    margin-top: 2rem;
    display: inline-flex;
}

.date-picker-custom {
    font-family: 'Noto Sans KR', sans-serif;
    height: 2.5rem;
    width: 8rem;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #5c4033;
    font-size: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.date-picker-custom:hover {
    cursor: pointer;
    background: #f7f7f7;
}

.calendar-icon {
    margin-top: 3px;
    margin-left: 4px;
    font-size: 18px;
    color: #000;
    float: left;
}

.lookup-btn {
    margin-left: 15px;
    background-color: #ccc;
}

.lookup-btn button {
    height: 2.5rem;
    width: 5rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    background: #474747;
}

.lookup-btn button:hover {
    background: #2f2f2f;
    cursor: pointer;
}

.date-hyphen {
    margin-top: 4px;
    margin-left: 10px;
    font-size: 25px;
    margin-right: 10px;
}

.modal-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 7px;
}

.modal-table td {
    border: 1px solid #eee;
}

.modal-table-info {
    width: 20%;
    text-align: center;
    background-color: #f6f8fa;
    font-weight: bold;
}

.grey-input-tag {
    margin: 10px auto 5px auto;
    display: table;
    width: 90%;
    background-color: #f5f6f9;
    height: 2.7rem;
    border-radius: 5px;
}

.grey-input-tag span {
    display: table-cell;
    padding-left: 15px;
    vertical-align: middle;
}

.info-tag {
    margin-left: 6%;
    margin-bottom: 10px;
    font-size: 13px;
}

.modal-date-picker-custom {
    margin: 10px 5% 10px 5%;
    height: 2.5rem;
    width: 35%;
    border: none;
    background-color: #f5f6f9;
    border-radius: 5px;
    color: #2b68ee;
    font-size: 15px;
}

.modal-date-picker-custom:hover {
    background-color: #e9e9ec;
    cursor: pointer;
}

.modal-table .check-division {
    margin-left: 5%;
    width: 15%;
    height: 2rem;
    border: none;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
    outline: none;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.modal-table .regulate-division {
    margin-left: 3%;
    width: 72%;
    height: 2rem;
    border: none;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
    outline: none;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    background-color: #f5f6f9;
}

.modal-table .reason-input {
    height: 2.5rem;
    margin: 10px 5% 10px 5%;
    width: 87%;
    display: block;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f6f9;
    font-size: 16px;
}

.modal-table .reason-input::placeholder {
    font-size: 16px;
}

.modal-button-container {
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal-button-container button {
    width: 70px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

.cancel-btn {
    background-color: #e9ecf3;
}

.save-btn {
    margin-left: 10px;
    background-color: #0078ff;
    color: #fff;
}

.cancel-btn:hover {
    cursor: pointer;
    background-color: #d9dbe3;
}

.save-btn:hover {
    background-color: #0063d9;
    cursor: pointer;
}

.table-no-data {
    border: none;
    font-size: 22px !important;
}

.sort-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
}

.sort-btn:hover {
    cursor: pointer;
    color: #ddd;
}

.no-user-tag {
    transition: all 0.3s;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.no-user-tag .tag1 {
    font-size: 35px;
}

.no-user-tag .tag1 span {
    margin-left: 10px;
}

.add-user-icon {
    color: #1daf56;
    margin-bottom: -5px;
}

.no-user-tag .tag2 {
    font-size: 16px;
    margin-top: 2vh;
}

.no-user-tag .tag2 span {
    margin-left: 8px;
}

.no-user-tag .tag2 .tag3 {
    margin-top: 0.5vh;
}

.check-icon {
    color: #2d80ea;
    margin-bottom: -4px;
}

.check-excel-btn {
    margin-top: 1rem;
}

.check-excel-btn button {
    border: none;
    background-color: #34a853;
    height: 1.8rem;
    width: 7rem;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}

.check-excel-btn button:hover {
    background-color: #2a8a44;
    cursor: pointer;
}