table {
    width: 100%;
    border-collapse: collapse;
}

.plus {
    color: #0c9b46;
}

.minus {
    color: #e32727;
}

.edit-tr:hover {
    background-color: #edf4fc !important;
    cursor: pointer;
}

.search-bar {
    height: 1rem;
    width: 50%;
    float: right;
    background: #2b68ee;
}

.number-input {
    min-width: 30px;
    width: 20%;
}

.name-input {
    width: 8%;
}