table {
    width: 100%;
    border-collapse: collapse;
}

.plus {
    color: #0c9b46;
}

.minus {
    color: #e32727;
}

.edit-tr:hover {
    background-color: #edf4fc !important;
    cursor: pointer;
}

.search-bar {
    height: 1rem;
    width: 50%;
    float: right;
    background: #2b68ee;
}

.search-input {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #efefef;
    padding-left: 5px;
}

.number-input {
    min-width: 30px;
    width: 20%;
}

.name-input {
    width: 8%;
}

.button-container {
    margin-top: 1rem;
    width: 100%;
}

.button-container button {
    float: right;
    margin-left: 16px;
    border: none;
    height: 35px;
    border-radius: 5px;
    color: #fff;
}

.icon {
    margin-bottom: -2.5px;
}

.print-btn {
    background: #3f3f3f;
    width: 90px;
}

.print-btn:hover {
    background: #222;
    cursor: pointer;
}

.excel-btn {
    background: #1ba466;
    width: 100px;
}

.excel-btn:hover {
    background: #1c8658;
    cursor: pointer;
}

.delete-btn {
    width: 85px;
    background: #ec4b4b;
}

.delete-btn:hover {
    background: #d94545;
    cursor: pointer;
}

.search-btn {
    width: 100px;
    background: #4a7dd9;
}

.search-btn:hover {
    background: #3f6ec2;
    cursor: pointer;
}

.search-tr {
    height: 2.5rem;
}

.search-tr td {
    background-color: #fcfcfc;
}

.search-tr input {
    height: 1.3rem;
}

.search-tr input::placeholder {
    text-align: center;
}

.search-icon {
    font-size: 18px;
    margin-bottom: -5px;
}