table {
    width: 100%;
    border-collapse: collapse;
}

.plus {
    color: #0c9b46;
}

.minus {
    color: #e32727;
}

.edit-tr:hover {
    background-color: #edf4fc !important;
    cursor: pointer;
}

.search-bar {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1rem;
}

.button-container {
    margin-top: 1rem;
    width: 100%;
}

.button-container button {
    float: right;
    margin-left: 16px;
    border: none;
    height: 35px;
    border-radius: 5px;
    color: #fff;
}

.icon {
    margin-bottom: -2.5px;
}

.print-btn {
    background: #3f3f3f;
    width: 90px;
}

.print-btn:hover {
    background: #222;
    cursor: pointer;
}

.excel-btn {
    background: #1ba466;
    width: 100px;
}

.excel-btn:hover {
    background: #1c8658;
    cursor: pointer;
}

.delete-btn {
    width: 85px;
    background: #ec4b4b;
}

.delete-btn:hover {
    background: #d94545;
    cursor: pointer;
}